################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Log4NetWrapper.Dal/bin
/Log4NetWrapper.Dal/obj
/Log4NetWrapper.Logic/bin
/Log4NetWrapper.Logic/obj
/Log4NetWrapper.TestApp/bin
/Log4NetWrapper.TestApp/obj
/Log4NetWrapper.UnitTests/bin
/Log4NetWrapper.UnitTests/obj
